
body{
    max-width: 1400px;
}
.testata{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.tasti a:hover{
    text-decoration: underline;
}


.testata h1{
    margin-left: 100px;
    font-size: 30pt;
}

.tasti nav ul{
    list-style: none;
    margin-right: 100px;
    word-spacing: 100px;
    font-size: 15pt;
}

.autore{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nome h2{
    font-size: 25pt;
    margin-left: 100px;
}

.img1{
    display: flex;
}

.paragrafi p{
    max-width: 500px;
    margin-left: 50px;
    margin-top: 50px;
}

.immagini {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    align-content:baseline;
}
